<mat-sidenav-container class="sidenav-container">

  <mat-sidenav mode="side" opened class="sidenav">

    <div class="sidenav-header">
      <mat-icon>school</mat-icon>
      <span>Horarios</span>
    </div>

    <mat-nav-list>

      <a mat-list-item
        routerLink="/dashboard"
        routerLinkActive="active-link">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>

      <a mat-list-item
        routerLink="/teachers"
        routerLinkActive="active-link">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>Maestros</span>
      </a>

      <a mat-list-item
        routerLink="/subjects"
        routerLinkActive="active-link">
        <mat-icon matListItemIcon>menu_book</mat-icon>
        <span matListItemTitle>Materias</span>
      </a>

      <a mat-list-item
        routerLink="/groups"
        routerLinkActive="active-link">
        <mat-icon matListItemIcon>groups</mat-icon>
        <span matListItemTitle>Grupos</span>
      </a>

      <a mat-list-item
        routerLink="/assignments"
        routerLinkActive="active-link">
        <mat-icon matListItemIcon>assignment</mat-icon>
        <span matListItemTitle>Asignaciones</span>
      </a>

      <a mat-list-item
        routerLink="/schedules"
        routerLinkActive="active-link">
        <mat-icon matListItemIcon>calendar_month</mat-icon>
        <span matListItemTitle>Horarios</span>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>